form { width: 250px; height:300px; position:absolute; top:20%; left:40%; border:2px solid black;}
div       {box-sizing:border-box; }
div:first-of-type   { margin-top: 40px; }
span   { width:100%; text-align:center; display: block;}
div input   { width:180px; margin:5px 33px;}

button      {margin:0 93.5px; margin-top:30px; }
