<form #login="ngForm">
    <div>
      <label for="username"></label> <span> UserName: </span> 
      <input name="username" id="username" 
      [(ngModel)]="unome" #username="ngModel" required>  
    </div>
    <div>
      <label for="password"></label> <span> Password: </span>
      <input type="password" name="password" id="password" 
      [(ngModel)]="pssd" #password="ngModel" required>  
    </div>
   
    <div>
      <button [disabled]="!login.valid" (click)='loginAuth()'> LOGIN </button>
      
    </div>
  
    </form> 
    
  