h1                   {text-align: center; background-color: cornflowerblue; color:white}
aside                { height:500px;  float:left;box-sizing: border-box;}
.logged              {width: 20%;  border-right:2px solid black; }
aside                { width:80%; float: left;}
.notlogged           {width:0px; }