<div>
    <div  *ngIf="autUsr">
        <h1> LIBRERIA </h1>
    <aside [ngClass]="{'logged':autUsr, 'notlogged':!autUsr}"> 
        <app-nav-bar>  </app-nav-bar> 
        <button (click)="logout()"> logOut </button>
    </aside>
</div>
    <aside>
        <router-outlet  (activate)="onActivate()" ></router-outlet> <!-- $event-->
    </aside>
</div>
