<div #loaded>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>NOME COGNOME</th>
          <th>TESSERA</th>
          <th>USERNAME</th>
          <th>FUNZIONALITA'</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of utenti; let idx = index" [ngClass]="{'odd':!(idx%2)}">
          <td>
            {{u.id}}
          </td>
          <td>
         
            {{u.nome}}
          
            {{u.cognome}}
          
          </td>
          <td>
            {{u.tessera}}
          </td>
          <td>
            {{u.username}}
          </td>
          <td>
            <button  (click)="dettaglioUsr(u.id)"> EDIT </button>
            <button [hidden]="!ad"  (click)="delete(u)" > DELETE </button>
          </td>
        </tr>
      </tbody>
    </table>
    <button (click)="newUsr()"> New User </button>
</div>
  