table   {width:100%; margin:0 auto; height:500px; box-sizing: border-box;}
tr,th   {padding:0 5px; box-sizing:border-box; background-color:white; text-align: center; height:10px;}
.odd    {background-color:#FEF}
tr:hover {background: rgba(0,0,0,0.2); box-sizing: border-box; }
td        {height: 10px;  box-sizing: border-box; }