<table>
  <thead>
    <tr>
        <th>Utente</th>
        <th> Libro </th>
      <th>Inizio Prestito </th>
      <th>Fine Prestito </th>
    
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let u of prestiti; let idx = index" [ngClass]="{'odd':!(idx%2)}">
      <td>
             {{u.utente.nome}}       
             {{u.utente.cognome}}
      </td>
      <td>
          {{u.libro.titolo}}
      </td>
      <td>
        {{u.dataInizio}}
      </td>
      <td>
          {{u.dataFine}}
        </td>
    </tr>
  </tbody>
</table>

